body {
    background: black;
    color: greenyellow;
    font-family: monospace;
}

.no-select {
    user-select: none;
}

svg {
    position: absolute;
    width: 100px;
    height: 100px;
    animation: bounceAnimation 10s infinite ease-in-out;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    cursor: pointer;
    &:active {
        width: 300px;
        height: 300px;
    }
    path {
        animation: rainbowAnimation 1s infinite ease-in-out;
    }
}

@keyframes rainbowAnimation {
    0% {
        fill: orange;
    }
    20% {
        fill: yellow;
    }
    40% {
        fill: yellowgreen;
    }
    60% {
        fill: turquoise;
    }
    80% {
        fill: violet;
    }
    100% {
        fill: orangered;
    }
}


@keyframes bounceAnimation {
    0% {
        top: 10vh;
        left: 10vw;
        transform: rotate(45deg);
    }
    20% {
        top: 60vh;
        left: 90vw;
        transform: rotate(360deg);
    }
    40% {
        top: 80vh;
        left: 20vw;
        transform: rotate(-90deg);
    }
    60% {
        top: 100vh;
        left: 80vw;
        transform: rotate(180deg);
    }
    80% {
        top: 30vh;
        left: 30vw;
        transform: rotate(0deg);
    }
    100% {
        top: 10vh;
        left: 10vw;
        transform: rotate(45deg);
    }
}